<div class="container">
    <div class="buttons">
        <img  src="assets/Images/index/mosBurgerLogo.png" alt="Logo" />
        <a routerLink="/home" ><img src="assets/Images/ControllerPanel/Home.png" alt="Home" /></a>
        <a routerLink="/order-history"><img src="assets/Images/ControllerPanel/Orders.png"
            alt="Orders" /></a>
        <a routerLink="/items" ><img src="assets/Images/ControllerPanel/Items.png" alt="Items" /></a>
        <a routerLink="/operations" ><img src="assets/Images/ControllerPanel/Operations.png"
            alt="Items" /></a>
       
       
        <a  routerLink="/customer"><img src="assets/Images/ControllerPanel/Customers.png"
                alt="Customers" /></a>
        <a  routerLink="/reports"><img src="assets/Images/ControllerPanel/Reports.png"
                alt="Reports" /></a>
    </div>
  
</div>