<div class="container">
    <div class="buttons">
        <img src="Images/index/mosBurgerLogo.png" alt="Logo" />
        <a href="#" onclick="loadPage('home.html')"><img src="Images/ControllerPanel/Home.png" alt="Home" /></a>
        <a href="#" onclick="loadPage('orders.html')"><img src="Images/ControllerPanel/Orders.png"
            alt="Orders" /></a>
        <a href="#" onclick="loadPage('items.html')"><img src="Images/ControllerPanel/Items.png" alt="Menu" /></a>
        <a href="#" onclick="loadPage('operations.html')"><img src="Images/ControllerPanel/Operations.png"
            alt="Items" /></a>
       
       
        <a href="#" onclick="loadPage('customers.html')"><img src="Images/ControllerPanel/Customers.png"
                alt="Customers" /></a>
        <a href="#" onclick="loadPage('reports.html')"><img src="Images/ControllerPanel/Reports.png"
                alt="Reports" /></a>
    </div>
    <div class="frame">
        <iframe id="contentFrame" src="home.html" frameborder="0"></iframe>
    </div>
</div>