
<h1 class="text-center" style="font-family: 'Brush Script MT', cursive;">PROMO</h1>

<div class="container">
    <div class="row g-3">
        <div class="col g-5 ">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
        <div class="col g-5">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
    </div>
    <div class="row g-3">
        <div class="col  g-5">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
        <div class="col  g-5">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
    </div>

</div><br>
<h1 class="text-center" style="font-family: 'Brush Script MT', cursive;">---Our Most Popular Deals--</h1>
<div class="container">
    <div class="row g-3">
       
        <div class="col g-5">
            <img src="assets/Images/menu/Offer02.png" alt="" srcset="" class="img-fluid">
        </div>
    </div>
    <div class="row g-3">
        <div class="col  g-5">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
        <div class="col  g-5">
            <img src="assets/Images/menu/Kings-Collection_Burger-King.jpg" alt="" srcset="" class="img-fluid">
        </div>
    </div>

</div> 